html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

#progress-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: all 0.5s ease;
}

.progress-bg {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke: blue;
    stroke-width: 10;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.percent {
    width: 45px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: blue;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.animated {
    animation: rotate 2s linear infinite;
}